---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Qui suis-je" description="Présentation de Vincent Pinto.">
	<h1>Qui suis-je</h1>
	<p>Contenu à venir.</p>
</BaseLayout>
